body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:435px;
  top:27px;
  width:396px;
  height:746px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:746px;
}
#u1 {
  position:absolute;
  left:2px;
  top:365px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:473px;
  top:122px;
  width:319px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:473px;
  top:142px;
  width:316px;
  height:508px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:509px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:546px;
  top:806px;
  width:160px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:589px;
  top:161px;
  width:100px;
  height:22px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:473px;
  top:190px;
  width:316px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:307px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u11 {
  position:absolute;
  left:510px;
  top:213px;
  width:40px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:551px;
  top:209px;
  width:200px;
  height:24px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:511px;
  top:248px;
  width:40px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:551px;
  top:244px;
  width:100px;
  height:24px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:551px;
  top:278px;
  width:100px;
  height:24px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:511px;
  top:283px;
  width:40px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:654px;
  top:248px;
  width:30px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:550px;
  top:313px;
  width:201px;
  height:24px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:499px;
  top:317px;
  width:60px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:511px;
  top:352px;
  width:50px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:550px;
  top:349px;
  width:30px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:501px;
  top:459px;
  width:50px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:551px;
  top:459px;
  width:200px;
  height:88px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:550px;
  top:558px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:501px;
  top:387px;
  width:50px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:551px;
  top:382px;
  width:200px;
  height:24px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u36 {
  position:absolute;
  left:449px;
  top:860px;
  width:331px;
  height:101px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:102px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:737px;
  top:387px;
  width:40px;
  height:16px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:759px;
  top:317px;
  width:16px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:655px;
  top:284px;
  width:16px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:674px;
  top:248px;
  width:16px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:759px;
  top:213px;
  width:16px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
  color:#990000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:954px;
  top:795px;
  width:190px;
  height:15px;
  font-family:'SimSun', '宋体';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:868px;
  top:27px;
  width:396px;
  height:746px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:746px;
}
#u51 {
  position:absolute;
  left:2px;
  top:365px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:906px;
  top:121px;
  width:319px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:941px;
  top:229px;
  width:268px;
  height:18px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:960px;
  top:449px;
  width:210px;
  height:32px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:960px;
  top:395px;
  width:210px;
  height:35px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:1016px;
  top:285px;
  width:90px;
  height:90px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u59 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1048px;
  top:319px;
  width:26px;
  height:23px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:27px;
  width:396px;
  height:746px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:746px;
}
#u63 {
  position:absolute;
  left:2px;
  top:365px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:38px;
  top:122px;
  width:319px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#515151;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:38px;
  top:142px;
  width:316px;
  height:508px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:509px;
}
#u67 {
  position:absolute;
  left:2px;
  top:246px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:135px;
  top:340px;
  width:200px;
  height:22px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:61px;
  top:314px;
  width:64px;
  height:64px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u71 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:67px;
  top:414px;
  width:248px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:41px;
}
#u73 {
  position:absolute;
  left:2px;
  top:14px;
  width:244px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:489px;
  top:424px;
  width:305px;
  height:15px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
