body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:980px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:981px;
}
#u1 {
  position:absolute;
  left:2px;
  top:482px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:60px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:770px;
  height:63px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:63px;
  width:766px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:769px;
  height:103px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-1px;
  top:54px;
  width:768px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:759px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:768px;
  height:1px;
}
#u7 {
  position:absolute;
  left:465px;
  top:15px;
  width:205px;
  height:28px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:28px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u8 {
  position:absolute;
  left:26px;
  top:16px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:324px;
  top:920px;
  width:302px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:240px;
  top:944px;
  width:470px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:210px;
  top:185px;
  width:16px;
  height:16px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#00CC00;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  visibility:hidden;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:172px;
  top:100px;
  width:428px;
  height:22px;
  font-family:'', '方正兰亭粗黑简体 Regular', '方正兰亭粗黑简体';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#669900;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:173px;
  width:190px;
  height:717px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:718px;
}
#u19 {
  position:absolute;
  left:2px;
  top:350px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:17px;
  top:186px;
  width:90px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:19px;
  top:216px;
  width:120px;
  height:96px;
  font-size:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:97px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:220px;
  top:221px;
  width:102px;
  height:144px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:144px;
}
#u25 {
  position:absolute;
  left:2px;
  top:64px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:345px;
  top:225px;
  width:220px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:343px;
  top:249px;
  width:220px;
  height:98px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:99px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:380px;
  width:520px;
  height:323px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:324px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:226px;
  top:185px;
  width:194px;
  height:18px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:220px;
  top:760px;
  width:190px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#00CC00;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:787px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:230px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:309px;
  top:787px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:319px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:400px;
  top:787px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:410px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:490px;
  top:787px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:500px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:580px;
  top:787px;
  width:50px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:590px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:665px;
  top:787px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:675px;
  top:843px;
  width:45px;
  height:13px;
  color:#0066FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:300px;
  top:760px;
  width:415px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:406px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:415px;
  height:1px;
}
#u61 {
  position:absolute;
  left:220px;
  top:1020px;
  width:190px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#00CC00;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:300px;
  top:1020px;
  width:415px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:406px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:415px;
  height:1px;
}
#u64 {
  position:absolute;
  left:220px;
  top:1047px;
  width:190px;
  height:13px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:14px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:180px;
  top:1020px;
  width:30px;
  height:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:700px;
  top:21px;
  width:53px;
  height:13px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:134px;
  top:22px;
  width:331px;
  height:15px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
