body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-14px;
  width:768px;
  height:664px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:665px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:60px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:770px;
  height:63px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-1px;
  top:54px;
  width:768px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:759px;
  top:-5px;
  width:14px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:768px;
  height:1px;
}
#u5 {
  position:absolute;
  left:465px;
  top:15px;
  width:215px;
  height:28px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6 {
  position:absolute;
  left:25px;
  top:15px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:298px;
  top:600px;
  width:284px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:218px;
  top:624px;
  width:442px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:80px;
  width:767px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:763px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:25px;
  top:171px;
  width:60px;
  height:13px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:167px;
  width:170px;
  height:26px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:70px;
  top:203px;
  width:130px;
  height:15px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:25px;
  top:243px;
  width:60px;
  height:13px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:70px;
  top:243px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:150px;
  top:243px;
  width:140px;
  height:130px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:130px;
}
#u24 {
  position:absolute;
  left:2px;
  top:57px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:150px;
  top:383px;
  width:60px;
  height:13px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:243px;
  width:60px;
  height:13px;
  color:#0099FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:20px;
  top:429px;
  width:40px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:424px;
  width:170px;
  height:26px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:26px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:20px;
  top:481px;
  width:190px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:85px;
  top:481px;
  width:60px;
  height:13px;
  color:#0099FF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:518px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:25px;
  top:134px;
  width:125px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:134px;
  top:22px;
  width:331px;
  height:15px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
