body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:14px;
  top:0px;
  width:768px;
  height:930px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:931px;
}
#u1 {
  position:absolute;
  left:2px;
  top:457px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:60px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:770px;
  height:63px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:60px;
  width:766px;
  height:151px;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:769px;
  height:154px;
}
#u5 {
  position:absolute;
  left:2px;
  top:68px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-1px;
  top:54px;
  width:768px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:759px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:768px;
  height:1px;
}
#u7 {
  position:absolute;
  left:465px;
  top:15px;
  width:195px;
  height:28px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:28px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u8 {
  position:absolute;
  left:29px;
  top:16px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:275px;
  top:870px;
  width:270px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:894px;
  width:420px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:87px;
  width:320px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:124px;
  width:350px;
  height:15px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:150px;
  width:350px;
  height:15px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:176px;
  width:350px;
  height:15px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:510px;
  top:178px;
  width:40px;
  height:13px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:56px;
  top:230px;
  width:145px;
  height:16px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC00;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:56px;
  top:265px;
  width:102px;
  height:144px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:144px;
}
#u27 {
  position:absolute;
  left:2px;
  top:64px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:181px;
  top:269px;
  width:220px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:179px;
  top:293px;
  width:220px;
  height:98px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:99px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:56px;
  top:476px;
  width:684px;
  height:320px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:321px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:56px;
  top:424px;
  width:114px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:31px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:242px;
  top:424px;
  width:108px;
  height:30px;
  font-size:16px;
  color:#00CC00;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:510px;
  top:287px;
  width:240px;
  height:133px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:134px;
}
#u39 {
  position:absolute;
  left:2px;
  top:58px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:541px;
  top:314px;
  width:161px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:541px;
  top:368px;
  width:64px;
  height:18px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:650px;
  top:368px;
  width:64px;
  height:18px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:697px;
  top:22px;
  width:53px;
  height:15px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:134px;
  top:22px;
  width:331px;
  height:15px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
